@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#menu-h {
    max-width: 1000px;
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#menu-h li {

    display: inline-block;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

#menu-h li a {
    color: rgb(255, 255, 255);
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
    margin-left: auto;
    margin-right: auto;

}

#menu-h li a:hover {
    background-color: rgb(96, 100, 104);
    margin-left: auto;
    margin-right: auto;
}


#menu-h li li:last-child a {
   
    background-color: rgb(96, 100, 104);
    margin-left: auto;
    margin-right: auto;
}

img{
    width:500px; height: 100px;
}
.container{
    display: flex;
}
body{
    background-color: grey;
}

#containe-a{
    background-color: black;
}

#containe-b{
    background-color: black;
    
}

.imagem-grande {
    width: 400px;
    height: 350px;
}
#layout {
    background-color: gray;
}